<?xml version="1.0"?>
<config>
    <modules>
        <Shuklin_Testimonials>
            <version>0.0.1</version>
        </Shuklin_Testimonials>
    </modules>
    <global>
        <helpers>
            <testimonials>
                <class>Shuklin_Testimonials_Helper</class>
            </testimonials>
        </helpers>
        <models>
            <testimonials>
                <class>Shuklin_Testimonials_Model</class>
                <resourceModel>testimonials_mysql4</resourceModel>
            </testimonials>
            <testimonials_mysql4>
                <class>Shuklin_Testimonials_Model_Mysql4</class>
                <entities>
                    <testimonials>
                        <table>testimonials</table>
                    </testimonials>
                </entities>
            </testimonials_mysql4>
        </models>
        <resources>
            <testimonials_setup>
                <setup>
                    <module>Shuklin_Testimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testimonials_setup>
            <testimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonials_write>
            <testimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonials_read>
        </resources>
        <blocks>
            <testimonials>
                <class>Shuklin_Testimonials_Block</class>
            </testimonials>
        </blocks>
    </global>
    <frontend>
        <routers>
            <testimonials>
                <use>standard</use>
                <args>
                    <module>Shuklin_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonials>
        </routers>
        <layout>
            <updates>
                <testimonials>
                    <file>testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <testimonials>
                    <file>testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <testimonials before="Mage_Adminhtml">Shuklin_Testimonials_Adminhtml</testimonials>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>